body {
 font-family: $font-stack-prim;
 font-size: 1rem;
 letter-spacing: .4px;
 color: #666;
}

.header {
    background-color: #fff;
    box-sizing: border-box;
  }
.banner {
    background-color: #fff;
    box-sizing: border-box;
  }
.middle {
    background-color: #ddd;
    box-sizing: border-box;
  }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h2, h3, h4 {
  font-weight: 400;
  margin: 0 0 15px;
  color: #333645;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
}