.header {
    background-color: #fff;
    box-sizing: border-box;
  }
.banner {
    background-color: #fff;
    box-sizing: border-box;
  }
.middle {
    background-color: #333645;
    box-sizing: border-box;
  }
.footer {
    background-color: #333645;
    box-sizing: border-box;
  }
  