

.btn--primary img {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .header__searchbar {
    display: flex;
}

.search-bar {
    flex: 1;
}

.btn--link {
    color: #fff;
    background-color: #333645;
    border-color: #333645;
}